.idea/*
db.sqlite3
.hg/*
*.pyc
*.orig
*venv/*
*/migrations/0*
venv/*
*__pycacgit bhe__/*
.vscode
.log
.DS_Store
/media/
/node_modules/
/static/
*.log
local_settings.py
.pytest_cache
.coverage
.env
.env2
/logs/
env/*
wb3.egg-info/
*/node_modules
venv