* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  body,
  html {
    background-color: #fff;
    max-width: 100vw;
    height: 100vh;
  }
  
  .header-wrapper {
    background-color: rgb(96, 170, 236);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
  
  #dashboard{
    color: rgb(3, 136, 252);
    font-size: 60px;
    width: 30px;
    height: 30px;
    margin: 15px;
    margin-right: 5px;
    margin-bottom: 50px;
  }
  
  .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 180px;
  }
  
  
  #searchbar{
    width: 400px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(96, 170, 236);
    border: 1.5px solid whitesmoke;
  
  }
  
  ::placeholder {
    color: white;
    opacity: 1;
    padding: 20px;
    font-size: 14px;
  }
  
  #accticon {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    align-items: center;
    margin-right: 20px;
  }
  
  #accticon img {
    width: 50px;
    border-radius: 50%;
  }
  
  #accticon h2 {
    color: white;
    margin-left: 20px;
  }
  
  .main-container {
    background-color: rgb(179, 211, 240);
    width: 20%;
    height: 100vh;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .ul li {
    display: flex;
    align-items: center;
    position: relative;
    top: 30px;
  }
  
  .list{
      color:rgb(6, 64, 114)
  }
  
  
  
  #material-icon{
    color: rgb(43, 94, 139);
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 15px;
    margin-right: 35px;
  }
  
  #material-icon2{
    color: rgb(43, 94, 139);
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 15px;
    margin-right: 35px;
  }
  
  #material-icon3{
    color: rgb(43, 94, 139);
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 15px;
    margin-right: 35px;
  }
  
  
  #material-icon4{
    color: rgb(43, 94, 139);
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 15px;
    margin-right: 35px;
  }
  
  .section {
    position: absolute;
    width: 38%;
    height: 65%;
    background-color: rgba(255, 253, 253, 0.966);
    left: 22%;
    bottom: 4%;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(101, 97, 97, 0.5);
  }
  
  .section-wrapper img {
    width: 150px;
    height: 180px;
  }
  
  .logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
  }
  
  .section-wrapper p {
    color: rgb(179, 211, 240);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 15px;
  }
  
  .section2 {
    position: absolute;
    width: 25%;
    height: 65%;
    background-color: rgba(255, 253, 253, 0.966);
    left: 62%;
    bottom: 4%;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(101, 97, 97, 0.5);
  }
  
  .section-icon img {
    width: 60px;
  }
  
  .section-icon {
    display: flex;
    justify-content: center;
    margin-top: 40%;
  }
  
  .section2 p {
    font-size: 1rem;
    text-align: center;
    margin-top: 15px;
  }
  
  .section2 button {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: rgb(3, 136, 252);
    color: white;
    border-radius: 8px;
  }
  
  .btn{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
  }
  
  .main-container h1{
    font-size: 25px;
    color: rgb(96, 170, 236);
    position: absolute;
    margin-left: 275px;
    bottom: 72%;
  }