{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Login" %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

<html>
<body>
  {% block content %}
  <div id="logo">
    <img src="{% static 'logo.png' %}" alt="logo" />
  </div>
  <section>
    <!-- whole body -->
    <div id="body">
      <!-- welcome back-log into your account -->
      <div id="welcome">
          <h2>Welcome back</h2>
          <p class="login">Log into your account</p>
      </div>
      <!-- form -->
      <div id="form">
          <form action="#">
              <p id="email">Email</p>
              <input type="email" name="" class="form" placeholder="Enter Your Email" required><br><br>
              <p id="email">Password</p>
              <input type="password" name="" class="form" required placeholder="Enter Your Password">
          </form>
      </div>
      <!--forgot pswd  -->
      <p class="forgotpswd"><small><a href="#">Forgot password?</a></small></p>
          <div>
              <button class="loginbtn"><a href="{% static 'dashboard.html' %}">Login</a></button>
          </div>
          <p class="or">OR</p>
          <!--Alternative to login  -->
          <div class="but">
      <button class="btn"><img class="icon" src="{% static 'image/google.png' %}" alt=""><p class="google">Continue with Google</p></button><br>
      <button class="btn"><img class="icon" src="{% static 'image/facebook.png' %}"alt=""><p class="facebook"> Continue with Facebook</p></button><br>
      <button class="btn"><img class="icon" src="{% static 'image/apple.png' %}"  alt=""><p class="apple"> Continue with Apple</p></button>  
          </div>
        <p class="noacct">Don't have an account?<a href="{% static 'signup.html' %}">Sign Up</a></p>
    </div>
  </section>
 
  
  </div>
</div>
  </section>
  

{% endblock content%}
</body>
</html>
