{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %}

<html>
  <body>
    {% block content %}
    <div id="logo">
      <img src="{% static 'logo.png' %}" alt="logo" />
    </div>
    <section>
      <!-- whole body -->
      <div id="body">
        <!-- create an account -->
        <div id="welcome">
            <h2>Create an account</h2>
            <p class="login">It's free and only takes a few seconds</p>
            </div>
            <!-- form -->
      <div id="form">
          <form action="">
              <label for="Full Name" id="email">Full Name</label><br>
              <input type="text"  class="form" placeholder="Enter Your Name" required><br><br>
              <label for="email" id="email">Email</label><br>
              <input type="email" name="" class="form" placeholder="Enter Your Email" required><br><br>
              <label for="password" id="email">Password</label><br>
              <input type="password" name="" class="form" placeholder="Enter Your Password" required><br><br>
              <label for="confirm password" id="email">Confirm Password</label><br>
              <input type="password" name="" class="form" placeholder="Confirm Your Password" required>
          </form>
      </div>
      <div>
          <button class="signupbtn"><a href="{% static 'dashboard.html' %}"></a>Sign Up</button>
      </div>
      <p class="or">OR</p>
      <!-- alternative to signup -->
      <div class="but">
          <button class="btn"><img class="icon" src="{% static 'image/google.png' %}" alt=""><p class="google">Continue with Google</p></button><br>
          <button class="btn"><img class="icon" src="{% static 'image/facebook.png' %}" alt=""><p class="facebook"> Continue with Facebook</p></button><br>
          <button class="btn"><img class="icon" src="{% static 'image/apple.png' %}" alt=""><p class="apple"> Continue with Apple</p></button>  
              </div>
              <p class="acct">Already have an account?<a href="{% static 'login.html' %}">Log In</a></p>
        </div>
  
  {% endblock content%}
  </body>
</html>
